
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Oswald:wght@400;500;600;700&display=swap');  
  
  
  
  *{
    margin: 0;
    padding: 0;
     font-family: 'Lobster', cursive;;
}

body{
    background: rgb(48, 64, 70);
}


.wrapper{
    width: 350px;
    height: 520px;
    margin: 65px auto;
    background: rgb(8, 7, 7);
    border-radius: 15px;
    box-shadow: 0 10px 15px rgb(0, 0, 0) ;
}

#display{
    border: none;
    outline: none;
    width: 400px;
    height: 80px;
    color: grey;
    font-size: 58px;
    font-weight: 700;
    padding: 10px;
    text-align: right;
    background: rgb(60, 55, 55);
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
}

.btn{
    width: 60px;
    height: 60px;
    margin: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 28px;
    line-height: 40px;
    border-radius: 50%;
    background: white;
}

.btn:hover{
    background: rgb(47, 43, 43);
}

.cbtn, .cbtn:hover{
    background:orangered;
    color: white;
    
}

.mbtn, .mbtn:hover{
    background: grey;
    color: white;
}

.cal{
    width: 90px;
    height: 20px;
}

#heading{

    color: grey;
    font-style: normal;
    text-align: center;
}